.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;
	
	
	
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;

	
}.CSSTableGenerator tr:last-child td:last-child {
	
}
.CSSTableGenerator table tr:first-child td:first-child {
	
}
.CSSTableGenerator table tr:first-child td:last-child {
	
}.CSSTableGenerator tr:last-child td:first-child{
	
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:11px;
	font-size:17px;
	font-family:Microsoft JhengHei;
	font-weight:normal;
	color:#000000;
	
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #333333 5%, #666666 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263959), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #333333 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#666666");	background: -o-linear-gradient(top,#333333,666666);

	background-color:#005f6b;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	color:#ffffff;
		border-top-left-radius ;

	
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #333333 5%, #666666 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263959), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #333333 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333", endColorstr="#666666");	background: -o-linear-gradient(top,#333333,666666);

	background-color:#333333;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




.CSSTableGenerator2 {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator2 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator2 tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator2 table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator2 table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator2 tr:hover td{
	
}
.CSSTableGenerator2 tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator2 tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator2 td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:1.4rem;
	font-family:Microsoft JhengHei;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator2 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator2 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator2 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator2 tr:first-child td{
		background:-o-linear-gradient(bottom, #e5e5e5 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#cccccc");	background: -o-linear-gradient(top,#e5e5e5,cccccc);

	background-color:#e5e5e5;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:1.7rem;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator2 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#cccccc");	background: -o-linear-gradient(top,#e5e5e5,cccccc);

	background-color:#e5e5e5;
}
.CSSTableGenerator2 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator2 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}