.barTitle {
	font-size: 2.2rem;
	color: #999999;
}
.btnSize{
	width:10%;
	height:8%
}
.mytable{
font-family: Microsoft JhengHei;
font-size:2rem;
}
.fontstyle{
	font-family: Microsoft JhengHei;
font-size:2rem;
margin: center;
}
.fontstyle2{
	font-family: Microsoft JhengHei;
font-size:1.4rem;
text-align:center;
}