<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DemoIO-0506</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCCore</display-name>
    <servlet-name>JDBCCore</servlet-name>
    <servlet-class>Servlet.JDBCCore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCCore</servlet-name>
    <url-pattern>/JDBCCore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetpwdServlet</display-name>
    <servlet-name>ForgetpwdServlet</servlet-name>
    <servlet-class>Servlet.ForgetpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetpwdServlet</servlet-name>
    <url-pattern>/ForgetpwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangepwdServlet</display-name>
    <servlet-name>ChangepwdServlet</servlet-name>
    <servlet-class>Servlet.ChangepwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepwdServlet</servlet-name>
    <url-pattern>/ChangepwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPwdServlet</display-name>
    <servlet-name>ForgetPwdServlet</servlet-name>
    <servlet-class>Servlet.ForgetPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPwdServlet</servlet-name>
    <url-pattern>/ForgetPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hoursearchServlet1</display-name>
    <servlet-name>hoursearchServlet1</servlet-name>
    <servlet-class>Servlet.hoursearchServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoursearchServlet1</servlet-name>
    <url-pattern>/hoursearchServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hoursearchServlete</display-name>
    <servlet-name>hoursearchServlete</servlet-name>
    <servlet-class>Servlet.hoursearchServlete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoursearchServlete</servlet-name>
    <url-pattern>/hoursearchServlete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckpseServlet</display-name>
    <servlet-name>CheckpseServlet</servlet-name>
    <servlet-class>Servlet.CheckpseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckpseServlet</servlet-name>
    <url-pattern>/CheckpseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSEsearchServlet</display-name>
    <servlet-name>PSEsearchServlet</servlet-name>
    <servlet-class>Servlet.PSEsearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSEsearchServlet</servlet-name>
    <url-pattern>/PSEsearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSEsearch_eServlet</display-name>
    <servlet-name>PSEsearch_eServlet</servlet-name>
    <servlet-class>Servlet.PSEsearch_eServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSEsearch_eServlet</servlet-name>
    <url-pattern>/PSEsearch_eServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetHourServlet</display-name>
    <servlet-name>SetHourServlet</servlet-name>
    <servlet-class>Servlet.SetHourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetHourServlet</servlet-name>
    <url-pattern>/SetHourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPSEServlet</display-name>
    <servlet-name>addPSEServlet</servlet-name>
    <servlet-class>Servlet.addPSEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPSEServlet</servlet-name>
    <url-pattern>/addPSEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>Servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editServlet1</display-name>
    <servlet-name>editServlet1</servlet-name>
    <servlet-class>Servlet.editServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editServlet1</servlet-name>
    <url-pattern>/editServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitHourServlet</display-name>
    <servlet-name>SubmitHourServlet</servlet-name>
    <servlet-class>Servlet.SubmitHourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitHourServlet</servlet-name>
    <url-pattern>/SubmitHourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNextYearServlet</display-name>
    <servlet-name>AddNextYearServlet</servlet-name>
    <servlet-class>Servlet.AddNextYearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNextYearServlet</servlet-name>
    <url-pattern>/AddNextYearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hoursearchServlet</display-name>
    <servlet-name>hoursearchServlet</servlet-name>
    <servlet-class>Servlet.hoursearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoursearchServlet</servlet-name>
    <url-pattern>/hoursearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportServlet</display-name>
    <servlet-name>exportServlet</servlet-name>
    <servlet-class>Servlet.exportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportServlet</servlet-name>
    <url-pattern>/exportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportEmpServlet</display-name>
    <servlet-name>exportEmpServlet</servlet-name>
    <servlet-class>Servlet.exportEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportEmpServlet</servlet-name>
    <url-pattern>/exportEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view_pseServlet</display-name>
    <servlet-name>view_pseServlet</servlet-name>
    <servlet-class>Servlet.view_pseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_pseServlet</servlet-name>
    <url-pattern>/view_pseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index2Servlet</display-name>
    <servlet-name>index2Servlet</servlet-name>
    <servlet-class>Servlet.index2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index2Servlet</servlet-name>
    <url-pattern>/index2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyPSEServlet</display-name>
    <servlet-name>modifyPSEServlet</servlet-name>
    <servlet-class>Servlet.modifyPSEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyPSEServlet</servlet-name>
    <url-pattern>/modifyPSEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportServlet_E</display-name>
    <servlet-name>exportServlet_E</servlet-name>
    <servlet-class>Servlet.exportServlet_E</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportServlet_E</servlet-name>
    <url-pattern>/exportServlet_E</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportServlet_hour_E</display-name>
    <servlet-name>exportServlet_hour_E</servlet-name>
    <servlet-class>Servlet.exportServlet_hour_E</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportServlet_hour_E</servlet-name>
    <url-pattern>/exportServlet_hour_E</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportServlet_hour_M</display-name>
    <servlet-name>exportServlet_hour_M</servlet-name>
    <servlet-class>Servlet.exportServlet_hour_M</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportServlet_hour_M</servlet-name>
    <url-pattern>/exportServlet_hour_M</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applychange_Servlet</display-name>
    <servlet-name>applychange_Servlet</servlet-name>
    <servlet-class>Servlet.applychange_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applychange_Servlet</servlet-name>
    <url-pattern>/applychange_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPSEViewServlet</display-name>
    <servlet-name>addPSEViewServlet</servlet-name>
    <servlet-class>Servlet.addPSEViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPSEViewServlet</servlet-name>
    <url-pattern>/addPSEViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hrServlet</display-name>
    <servlet-name>hrServlet</servlet-name>
    <servlet-class>Servlet.hrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hrServlet</servlet-name>
    <url-pattern>/hrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkApplyServlet</display-name>
    <servlet-name>checkApplyServlet</servlet-name>
    <servlet-class>Servlet.checkApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkApplyServlet</servlet-name>
    <url-pattern>/checkApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadServlet</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>Servlet.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>importServlet</display-name>
    <servlet-name>importServlet</servlet-name>
    <servlet-class>Servlet.importServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importServlet</servlet-name>
    <url-pattern>/importServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hrSubmitServlet</display-name>
    <servlet-name>hrSubmitServlet</servlet-name>
    <servlet-class>Servlet.hrSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hrSubmitServlet</servlet-name>
    <url-pattern>/hrSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPSEServlet</display-name>
    <servlet-name>editPSEServlet</servlet-name>
    <servlet-class>Servlet.editPSEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPSEServlet</servlet-name>
    <url-pattern>/editPSEServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCEditPSE</display-name>
    <servlet-name>JDBCEditPSE</servlet-name>
    <servlet-class>Db.JDBCEditPSE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCEditPSE</servlet-name>
    <url-pattern>/JDBCEditPSE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCheckServlet</display-name>
    <servlet-name>addCheckServlet</servlet-name>
    <servlet-class>Servlet.addCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCheckServlet</servlet-name>
    <url-pattern>/addCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editCheckServlet</display-name>
    <servlet-name>editCheckServlet</servlet-name>
    <servlet-class>Servlet.editCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCheckServlet</servlet-name>
    <url-pattern>/editCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>